*{
	font-weight: 100 !important;
	border-radius: 0 !important;
}
.text-red {
	color: crimson;
}
.well {
   background-color: rgba(245, 245, 245, 0.8);
   border: none;
}
.promo {
	margin-top: 20%;
}
.section {
	margin-bottom: 25px;
}